<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.srtianxia.zhibook">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".view.activity.ActivityHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ActivityPhoneDisplay"/>
        <activity android:name=".view.activity.ActivitySetQuestion"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".view.activity.ActivityAnswer"/>
        <activity android:name=".view.activity.ActivityDailyContent"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".view.activity.ActivityFind" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".view.activity.ActivityAnswerDetail"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".view.activity.ActivityNote"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".view.activity.ActivityNoteEdit"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".view.activity.ActivityChat"/>
        <activity android:name=".view.activity.ActivityEditAnswer"
            android:theme="@style/AppTheme"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".view.activity.ActivityAnswerUpdata"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".view.activity.ActivityPlayer"/>
    </application>

</manifest>


